.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#selectGrid {
  	background-color: #fff;
  	color: #444;
  	position: absolute;
	top: 12%;
	left: 55%;
	width: 25%;
	height: 60%;
}

#displayGrid{
	position: absolute;
	top: 20%;
	left: 2%;
	width: 47%;
	height: 80%;
	display: inline;
  	background-color: #fff;
  	color: #444;
}



.displayCell{
	width: 7vw;
	height: 7vw;
	border-style:solid;
	display:inline-block;
	float: left;
}

.selectCell{
	width: 7vw;
	height: 7vw;
	border-style:solid;
	display:inline-block;
}

.card{
	width: 6.5vw;
	height: 6.5vw;
}


#trash{
	position: absolute;
	top: 60%;
	left: 50%;
	width: 5%;
}

#progressBarContainer{

	top: 0%;
	width: 100%;
	height: 5%;
}

.progressBar{
	border-style:solid;
	border-color:#000;
	display:block;
	text-align: center;
}