#selectGrid {
  	background-color: #fff;
  	color: #444;
  	position: absolute;
	top: 12%;
	left: 55%;
	width: 25%;
	height: 60%;
}

#displayGrid{
	position: absolute;
	top: 20%;
	left: 2%;
	width: 47%;
	height: 80%;
	display: inline;
  	background-color: #fff;
  	color: #444;
}



.displayCell{
	width: 10vw;
	height: 10vw;
	border-style:solid;
	display:inline-block;
	float: left;
}

.selectCell{
	width: 10vw;
	height: 10vw;
	border-style:solid;
	display:inline-block;
}

.card{
	width: 8vw;
	height: 8vw;
}


#trash{
	position: absolute;
	top: 60%;
	left: 50%;
	width: 5%;
}